.vs/
.vscode/

*.suo
*.user
*.csproj.user

bin/
obj/
**/bin/
**/obj/

*.dll
*.exe
*.pdb
*.cache
*.json.cache
*.dswa.cache.json

ApiEndpoints.json

*.db
*.db-shm
*.db-wal
*.sqlite

*.log

.env
appsettings.Development.json